<div class="card-columns">
    {% assign sorted = (cards | sort: 'date' | reverse ) %}
    {% for project in sorted %}
    {% if project.img-thumb %}
    {% assign img = project.img-thumb %}
    {% elsif project.header-img %}
    {% assign img = project.header-img %}
    {% elsif site.header-img %}
    {% assign img = site.header-img %}
    {% endif %}
    <div class="card">
        <a href="{{ project.url | absolute_url }}"><img class="card-img-top" src="{{ img | absolute_url }}">
        <div class="card-body">
            <h4 class="card-title">{{ project.title
                }}</h4>
        </div></a>
    </div>
    {% endfor %}
</div>
