<footer>
    <div class="container">
        <div id="logos" class="row">
            <div class="col-lg-4 col-sm-6 col-xs-12">
                <a href="http://usp.br/"><img src="{{ '/img/usp-branco-ok.png' | absolute_url }}"></a>
                <a href="http://each.usp.br//"><img src="{{ '/img/each-branco-ok.png' | absolute_url }}"></a>
                <div class="mt-2"><a href="https://macc.lncc.br/">{{ page.MAAC }}</a></div>
            </div>
            <div class="col-lg-4 col-sm-6 col-xs-12">
            </div>
            <div class="col-lg-4 col-sm-6 col-xs-12">
            </div>
            <div class="col-lg-4 col-sm-6 col-xs-12">
            </div>
        </div>
    </div>
</footer>
