<script src="https://lapis.each.usp.br/js/glider.min.js"></script>
<link rel="stylesheet"  type="text/css" href="https://lapis.each.usp.br/css/glider.min.css">


<section id="insta_posts" class="no-padding">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="titulo">
                    <h2 class="section-heading projects-title">Últimas postagens</h2>
                </div>
            </div>
        </div>
        {% assign posts = site.instaPosts%}
        {% assign n = 10 %}
        {% include posts.html %}
        
        <div style="display:flex; justify-content: center;">
            <a style="background: #f8793e ;
                    border-radius:0.5em;
                    padding: 1em 1.5em;
                    text-align: center;
                    text-decoration: none;
                    font-family: 'Merriweather Sans';
                    color: black;" href="https://www.instagram.com/lapisusp/">Ver mais postagens</a>
        </div>
    </div>
    
</section>
<script>
    new Glider(document.querySelector('.glider'), {
      slidesToShow: 1,
      dots: '#dots',
      draggable: true,
      arrows: {
        prev: '.glider-prev',
        next: '.glider-next'
      }
    });
    </script>