<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 text-center">
    <a href="{{ member.url | absolute_url }}">
        <div class="member-box">
            {% if member.photo %}
            <div class="member-photo-area"> 
                <img src="{{ member.photo | absolute_url }}" class="rounded member-thumb membro-foto">
            </div>
            {% else %}
            <i class="fa fa-5x fa-user wow bounceIn text-primary"></i>
            {% endif %}
            <div class="member-details">
                <h4 class="member-name">{{ member.name }}</h3>
                <p class="text-muted member-type">{{ member.membership }}</p>
            </div>
        </div>
    </a>
</div>
