<section id="info" style="padding: 0;">
    <div class="container">
        {% assign all_members = site.members | where:"language", page.language %}
        {% assign all_members = all_members | sort: "order" %}
        {% assign members = (all_members | where_exp:"item", "item.order < 2" ) %}

        {{ page.lang }}

        <h3 style=" text-align: center;
                    font-size: 35px;
                    text-transform: uppercase;
                    font-weight: 700;
                    color: #000000;
                    padding-top: 40px;">
            {{ site.data.members.professors[page.language] }}
        </h3>


        {% include members_list.html %}

        <h3 style=" text-align: center;
                    font-size: 35px;
                    text-transform: uppercase;
                    font-weight: 700;
                    color: #000000;
                    padding-top: 40px">
            {{ site.data.members.students[page.language] }}
        </h3>

        {% assign members = (all_members | where_exp:"item", "item.order == 2" ) %}

        {% include members_list.html %}


        <h3 style=" text-align: center;
                    font-size: 35px;
                    text-transform: uppercase;
                    font-weight: 700;
                    color: #000000;
                    padding-top: 40px">
            {{ site.data.members.old[page.language] }}
        </h3>


        {% assign members = (all_members | where_exp:"item", "item.order > 3") %}
        {% include members_list.html %}

    </div>
</section>
