<section id="info">
    <div class="container">
        {{ page.lang }}

        <div class="row">
            <div class="col">
              <div class="info-research">
                  <h2>{{ site.data.members.current[page.language] }}</h2>
              </div>
            </div>
        </div>

        {% assign all_members = site.members | where:"language", page.language %}
        {% assign all_members = all_members | sort: "order %}
        {% assign members = (all_members | where_exp:"item", "item.order < 3") %}
        {% include members_rows.html %}


        <div class="row">
            <div class="col">
              <div class="info-research">
                  <h2>{{ site.data.members.old[page.language] }}</h2>
              </div>
            </div>
        </div>


        {% assign members = (all_members | where_exp:"item", "item.order > 3") %}
        {% include members_rows.html %}

    </div>
</section>
