<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
        <a id="logo" class="navbar-brand js-scroll-trigger" href="/">
            <img itemprop="logo"
                 src="{{ '/img/lapis.png' | absolute_url }}"
                 alt="LApIS – Laboratório de Aplicações de Informática em Saúde">
        </a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
            Menu
            <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">

            <div class="ml-auto">
                {% include search.html %}
            </div>

            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger"
                       href="{{ page.language | append: '/#researchprojets' | absolute_url }}">{{
                        site.data.nav.projects[page.language] }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger"
                       href="{{ page.language | append: '/#softwares' | absolute_url }}">{{
                        site.data.nav.softwares[page.language] }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger"
                       href="{{ page.language | append: '/#lablocation' | absolute_url }}">{{
                        site.data.nav.location[page.language] }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger"
                       href="{{ page.language | append: '/members/' | absolute_url }}">{{
                        site.data.nav.members[page.language] }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger"
                       target="_blank"
                       href="https://www.youtube.com/channel/UCAgeRVLEB3eG8zGQqhEs3tA">Videos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger"
                       target="_blank"
                       href="http://ppgsi.each.usp.br/">PPgSI</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-language fa-2x"></i>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{ '/en/' | absolute_url }}">English</a>
                        <a class="dropdown-item" href="{{ '/pt/' | absolute_url }}">Português</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>

{% include search-results.html %}
