<div class="container">
    <div id="info" class="row">
        <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
            <div class="row">
                <div class="col-md-6">
                    {% if page.date %}
                    <p>Atualizado em {{ page.update | date: "%d/%m/%Y" }}</p>
                    {% endif %}
                </div>
                <div class="col-md-6">
                    {% if page.credit-img-author and page.credit-img-url %}
                    <span class="float-right">
                            <p>Foto por <a target="_blank" href="{{ page.credit-img-url }}">{{ page.credit-img-author }}</a></p>
                        </span>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>