<div class="container">
    <div id="info" class="row">
        <div class="col-lg-12 col-md-12">
            <div class="row">
                <div class="col">
                    {% if page.date %}
                    <p>{{ site.data.pre-info.update[page.language] }} {{ page.update | date: "%d/%m/%Y" }}</p>
                    {% endif %}
                </div>
                <div class="col">
                    {% if page.credit-img-author and page.credit-img-url %}
                    <span class="float-right">
                            <p>{{ site.data.pre-info.photo[page.language] }} <a target="_blank" href="{{ page.credit-img-url }}">{{ page.credit-img-author }}</a></p>
                        </span>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
