{% if page.photo %}
                {% assign photo = page.photo %}
{% else %}
    {% assign photo = "img/member.jpg" %}
{% endif %}

<div id="member_card_info" class="container">
    <img id="member_card_photo" src="{{ photo | absolute_url }}">
    <div style="margin-left: 20px;">
        <h2 style="font-weight: 600;">
            <span style="background-image: linear-gradient(#e74c3c,#e74c3c);
                         background-size: 50% 3px;
                         background-position: bottom left;
                         background-repeat: no-repeat;">
                {{ site.data.pre-info.name[page.language] }}: 
            </span> {{ title }}</h2>   
        <h3>
            <span style="background-image: linear-gradient(#e74c3c,#e74c3c);
                         background-size: 50% 3px;
                         background-position: bottom left;
                         background-repeat: no-repeat;">
                {{ site.data.pre-info.membership[page.language] }}: 
            </span> {{ subtitle }}
        </h3>
        {% if page.mail %}
            <div style="display: inline-flex; align-items: center; margin-top: 5px; margin-bottom: 5px;"> 
                <img src="{{'img/mail.png' | absolute_url }}" style="width: 30px;height: 30px; margin-left: 3px; margin-right: 3px"> 
                    <span style="font-size: 1.3rem; margin-left: 10px;"> 
                        {{ page.mail }}
                    </span>      
            </div>
        <br>
        {% endif %}
        {% if page.phone %}
            <div style="display: inline-flex; align-items: center; margin-top: 5px; margin-bottom: 5px;"> 
                <img src="{{'img/phone.png' | absolute_url }}" style="width: 30px;height: 30px; margin-left: 3px; margin-right: 3px"> 
                    <span style="font-size: 1.3rem; margin-left: 10px;"> 
                        {{ page.phone }}
                    </span>      
            </div>
        {% endif %}

        <div style="
            display: grid;
            grid-template-columns: repeat(2, minmax(0, 1fr));
            grid-row-gap: 20px;
            grid-column-gap: 20px;
            padding: 10px;
        ">
            {% if page.lattes %}
            <a class="btn btn-secondary btn-large" href="{{ page.lattes }}" target="_blank"><img src="{{'img/lattes.png' | absolute_url }}" style="width: 30px;height: 30px; margin-left: 3px; margin-right: 3px"> Lattes</a>
            {% endif %}
            {% if page.orcid %}
            <a class="btn btn-secondary btn-large" href="{{ page.orcid }}" target="_blank"><img src="{{'img/ORCIDiD_icon32x32.png' | absolute_url }}" style="width: 30px;height: 30px; margin-left: 3px; margin-right: 3px"> ORCID</a>
            {% endif %}
            {% if page.scholar %}
            <a class="btn btn-secondary btn-large" href="{{ page.scholar }}" target="_blank"><img src="{{'img/icons8-google-scholar-50.png' | absolute_url }}" style="width: 30px;height: 30px; margin-left: 3px; margin-right: 3px"> Google Scholar</a>
            {% endif %}
            {% if page.publons %}
            <a class="btn btn-secondary btn-large" href="{{ page.publons }}" target="_blank"><img src="{{'img/publons_blue_white_shadow.png' | absolute_url }}" style="width: 30px;height: 30px; margin-left: 3px; margin-right: 3px"> Publons</a>
            {% endif %}
            {% if page.github %}
            <a class="btn btn-secondary btn-large" href="{{ page.github }}" target="_blank"><img src="{{'img/GitHub-Mark-32px.png' | absolute_url }}" style="width: 30px;height: 30px; margin-left: 3px; margin-right: 3px"> Github</a>
            {% endif %}
            {% if page.linkedin %}
            <a class="btn btn-secondary btn-large" href="{{ page.linkedin }}" target="_blank"><img src="{{'img/LI-In-Bug.png' | absolute_url }}" style="width: 30px;height: 30px; margin-left: 3px; margin-right: 3px"> LinkedIN</a>
            {% endif %}
            
        </div>
        {% if page.date %}
            <p style="margin-top: 20px">{{ site.data.pre-info.update[page.language] }} {{ page.update | date: "%d/%m/%Y" }}</p>
        {% endif %}
    </div>
</div>