<section id="projects" class="bg-primary text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <h2 class="section-heading">{{ site.data.nav.projects[page.language] }}</h2>
                <hr>
            </div>
        </div>
    </div>
</section>

<section class="no-padding">
    <div class="container-fluid">
        {% assign cards = site.projects | where:"language", page.language %}
        {% include cards.html %}
    </div>
</section>

