	<section id="socialnetworks">
		<div class="container">
			<div class="row">
				<div class="col-6">
					<h2>{{ site.data.social-networks.social[page.language] }}<</h2>
				</div>
				<div class="col-6">
					<ul>
						<li><a href="http://facebook.com/lapisusp" target="_blank"><img src="/img/facebook.png"></a></li>
						<li><a href="http://twitter.com/lapisusp" target="_blank"><img src="/img/instagram.png"></a></li>
						<li><a href="https://www.youtube.com/channel/UCAgeRVLEB3eG8zGQqhEs3tA" target="_blank"><img src="/img/youtube.png"></a></li>
						<li><a href="http://github.com/lapisusp" target="_blank"><img src="/img/github.png"></a></li>
					</ul>
				</div>
			</div>
		</div>		
	</section>
