@import url('https://fonts.googleapis.com/css?family=Raleway:400,700,900');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Bitter:400,700');
@import url('https://fonts.googleapis.com/css?family=Signika:400,700');

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#logos img {
  margin-left: 15px;
  height: 50px;
}

#logos img :first-of-type{ margin-left: 0 !important; }

#address {
  padding: 20px;
}

.navbar {
  min-height: 60px;
}

#logo img {
  max-height: 45px;
}

#mainNav .navbar-nav>li>a{
  font-family: 'Roboto', sans-serif;
}

.member-photo {
  width: 175px;
}

.member-thumb {
  width: 100%;
  height: autoi;
}



.row{
  margin-left:0;
  margin-right:0;
}

h1, h2{
  font-family: 'Bitter', serif;
}

.post-heading h1{
  font-weight: 900;
  text-align:left;
  margin-bottom: 20px;
}

.intro-header .post-heading .subheading{
  color: #e74c3c;
  font-family: 'Bitter', sans-serif;
  text-transform: lowercase;
  margin: 10px;
  text-align: left;
}

p{
  font-family: 'Roboto', sans-serif;
  text-align: justify;
}

.info-research{
  border-bottom: 2px solid #ddd;
  margin-top: 15px;
  margin-bottom: 15px;
}

.info-research h2{
  font-family: 'Bitter', serif;
  font-weight: 900;
  color: #333;
  display: table;
  border-bottom: 4px solid #e74c3c;
  padding-bottom:10px;
  margin: 0;
  margin-bottom: -1px;
}

#header{
  position: relative;
}

.overlay{
  position: absolute;
  height: 100%;
  background: #000;
  width: 100%;
  opacity: 0.7;
}

a {
  color: #e74c3c;
}

a:hover{
  text-decoration: none;
}

//header.masthead{
  //background-image: url("http://lapis.each.usp.br/img/foto-each-bg.jpg");
  //background-size: cover;
  //background-attachment: fixed;
//}

/* Ajustes na barra de pesquisa */ 

.input-group>.custom-select:not(:last-child), .input-group>.form-control:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 1.5em;
    border-bottom-left-radius: 1.5em;
    background: none;
}

.input-group>.custom-select:not(:last-child)::placeholder, .input-group>.form-control:not(:last-child)::placeholder, .btn-outline-secondary{
  color: #fff;
}

.navbar-shrink .input-group>.custom-select:not(:last-child)::placeholder, .navbar-shrink .input-group>.form-control:not(:last-child)::placeholder, .navbar-shrink .btn-outline-secondary{
  color: #777;
}

nav .border{
  border: 2px;
}

.search-box .btn{
  background: none!important;
}

/* Listagem de membros */

.member-box{
  font-family: 'Raleway', sans-serif;
}

.member-box p{
  font-family: 'Raleway', sans-serif;
}

.member-box:hover{
  background: #f0f0f0;
  text-decoration: none;
}

.member-box:hover a{
  text-transform: none;
}

.member-photo-area{
  height: auto;
  overflow: hidden;
}

.member-details{
  margin-top: 20px;
}

.member-box img{
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.member-box:hover img{
  -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
}

.member-details{
  overflow: hidden;
}

.member-name{
  font-weight: 900;
  color: #333;
}

.member-type{
  font-weight: 700;
  text-align: center;
}

/* Cards */

.card{
  border:none;
  border-top: 0px solid orange;
  height: 250px;
  overflow: hidden;
  border-radius: 0px;
}

.card-body{
  border-top: 4px solid #ddd;
  padding: 10px;
  text-align: left;
}

.card img{
  -webkit-filter: grayscale(90%); /* Safari 6.0 - 9.0 */
  filter: grayscale(90%);
}

.card-img-top{
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.card:hover{
  background: #ddd;
}

.card:hover img{
  -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
}

.card h4{
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

.card a{
  color: #333;
}

.card a:hover{
  text-decoration: none;
}

/* Section */

.titulo{
  margin-bottom:70px;
  border-bottom: 1px solid #fff;
  text-align: center;
}

.titulo h2{
  margin-bottom: -1px;
	padding-bottom: 20px;
}

#researchprojects .section-heading{
  font-family: 'Bitter', serif;
  font-weight: 900;
  text-align: center;
}

.research-content {
  img {
    max-width: 100%;
  }
}

.projects-title{
  font-family: 'Bitter', sans-serif;
  font-weight: 900;
}

#softwares{
    background-color: #7f8c8d;
    padding: 80px 0 100px;
    background-image: url(/img/grid-pattern.png);
    background-position: left bottom;
    background-repeat: repeat-x;
}

#softwares h2{
  color: #fff;
  border-bottom: 5px solid #f1c40f;
  width: auto;
  display: inline-block;
}

#researchprojects h2{
  color: #222;
  border-bottom: 5px solid #f1c40f;
  width: auto;
  display: inline-block;
}

#researchprojects .titulo{
  border-bottom: 1px solid #ddd;
}

#lablocation h2{
  color: #222;
  border-bottom: 5px solid #f1c40f;
  width: auto;
  display: inline-block;
}

#lablocation .titulo{
  border-bottom: 1px solid #ddd;
}

/* videos */
.video-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}
.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Redes sociais */

		#socialnetworks ul{
			list-style: none;
		}

		#socialnetworks ul li{
			display: inline-block;
			padding-left: 30px;
		}

		#socialnetworks h2{
			text-align: right;
		}

/* Ajustes no card para páginas de researches */

.research-list .card{
  height: 250px;
} 

.research-list .card-image{
  height: 150px;
  overflow: hidden;
}

.research-list .card-image img{
  height: 100%;
  width: 100%;
}

.research-list .card:hover .card-image{
  height: 110px;
  transition: 0.3s;
}

.research-list .card h4{
  font-size: 16px;
}

/* Footer */

footer{
  padding: 0px;
}

footer .container{
  border-top: 10px solid #333;
  padding-top: 50px;
  padding-bottom: 50px;
}


/* Mapa */

#lablocation{
  background-color: #f5f6fa;
  padding: 0px;
  padding-top: 50px;
  padding-bottom: 0px!important;
}

#lablocation iframe{
  margin-bottom: -10px;
}

/* Search */
/* hide the blue outline */
.search-box {
  .form-control:focus {
    outline: 0 !important;
    border-color: initial;
    box-shadow: none;
  }
  .btn {
    background-color: white;
  }
}

/* 404 */
.fa-20x {
  font-size: 20em;
}
.not-found{
  .border{
    border-color: #6c757d!important;
  }
  .row{
    margin-top: 15px;
  }
}
