@import url('https://fonts.googleapis.com/css?family=Raleway:400,700,900');
@import url('https://fonts.googleapis.com/css?family=Roboto');

#logos img {
  margin-left: 15px;
  height: 50px;
}

#logos img :first-of-type{ margin-left: 0 !important; }

#address {
  padding: 20px;
}

.navbar {
  min-height: 60px;
}

#logo img {
  max-height: 45px;
}

.member-photo {
  width: 175px;
}

.member-thumb {
  width: 70px;
}

.row{
  margin-left:0;
  margin-right:0;
}

h1, h2{
  font-family: 'Raleway', sans-serif;
}

.post-heading h1{
  font-weight: 900;
  text-align:left;
  margin-bottom: 20px;
}

.intro-header .post-heading .subheading{
  color: #e74c3c;
  font-family: 'Raleway', sans-serif;
  text-transform: lowercase;
  margin: 10px;
  text-align: left;
}

p{
  font-family: 'Roboto', sans-serif;
  text-align: justify;
}

.info-research{
  border-bottom: 2px solid #ddd;
  margin-top: 15px;
  margin-bottom: 15px;
}

.info-research h2{
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
  color: #333;
  display: table;
  border-bottom: 4px solid #e74c3c;
  padding-bottom:10px;
  margin: 0;
  margin-bottom: -1px;
}

#header{
  position: relative;
}

.overlay{
  position: absolute;
  height: 100%;
  background: #000;
  width: 100%;
  opacity: 0.7;
}

a {
  color: #e74c3c;
}

a:hover{
  text-decoration: none;
}

/* Listagem de membros */

.member-box{
  height: 250px;
  font-family: 'Raleway', sans-serif;
}

.member-box p{
  font-family: 'Raleway', sans-serif;
}

.member-box:hover{
  background: #f0f0f0;
  text-decoration: none;
}

.member-box:hover a{
  text-transform: none;
}

.member-photo-area{
  height: 120px;
  overflow: hidden;
}

.member-box img{
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.member-box:hover img{
  -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
}

.member-details{
  overflow: hidden;
}

.member-name{
  font-weight: 900;
  color: #333;
}

/* Cards */

.card{
  border:none;
  border: 1px solid #ddd;
  border-top: 0px solid orange;
  height: 250px;
  overflow: hidden;
}

.card img{
  -webkit-filter: grayscale(60%); /* Safari 6.0 - 9.0 */
  filter: grayscale(60%);
}

.card:hover{
  background: #ddd;
}

.card:hover img{
  -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
}

.card h4{
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
}

.card a{
  color: #333;
}

.card a:hover{
  text-decoration: none;
}

/* Section */

#researchprojects .section-heading{
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
  text-align: center;
}

.research-content {
  img {
    max-width: 100%;
  }
}

.projects-title{
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
  text-align: left;
  padding-bottom: 10px;
  border-bottom: 2px solid #ddd;
}


/* videos */
.video-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}
.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Ajustes no card para páginas de researches */

.research-list .card{
  height: 300px;
} 

.research-list .card-image{
  height: 150px;
  overflow: hidden;
}

.research-list .card-image img{
  height: 100%;
  width: 100%;
}

.research-list .card:hover .card-image{
  height: 110px;
  transition: 0.9s;
}

.research-list .card h4{
  font-size: 16px;
  font-weight: 700;
}
