@import url('https://fonts.googleapis.com/css?family=Raleway:400,700,900');
@import url('https://fonts.googleapis.com/css?family=Roboto');

#logos img {
  margin-left: 15px;
  height: 50px;
}

#logos img :first-of-type{ margin-left: 0 !important; }

#address {
  padding: 20px;
}

.navbar {
  min-height: 60px;
}

#logo img {
  max-height: 45px;
}

.member-photo {
  width: 175px;
}

.member-thumb {
  width: 70px;
}

.row{
  margin-left:0;
  margin-right:0;
}

h1, h2{
  font-family: 'Raleway', sans-serif;
}

.post-heading h1{
  font-weight: 900;
}

.intro-header .post-heading .subheading{
  color: orange;
  font-family: 'Raleway', sans-serif;
}

.card-columns .card{
  height: 500px;
  overflow: hidden;
}

p{
  font-family: 'Roboto', sans-serif;
}

h2.info-research{
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
}
