---
layout: default
---
{% assign title = page.name %}
{% assign subtitle = page.membership %}

{% include header-img.html %}

{% include pre-info.html %}

<!-- Content -->
<article>
    <div lass="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
                {% if page.lattes %}
                <a class="btn btn-secondary btn-large" href="{{ page.lattes }}" target="_blank"><img src="{{'img/icon-lattes.png' | absolute_url }}"> Lattes</a>
                {% endif %}
                {% if page.mail %}
                <a class="btn btn-secondary btn-large" href="mailto:{{ page.mail }}" target="_top"> <i class="fa fa-envelope"></i> {{ page.mail }}</a>
                {% endif %}
                {% if page.phone %}
                <a class="btn btn-secondary btn-large" href="tel:{{ page.phone }}" target="_top"> <i class="fa fa-phone"></i> {{ page.phone }}</a>
                {% endif %}
                <hr>

                {{ content }}

                <hr>

            </div>

          </div>

          <div class="row">
            <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
              <div class="info-research">
                  <h2>{{ site.data.research.researches[page.language] }}</h2>
              </div>

              <div class="card-columns">
                {% assign researches = site.researches | where:"language", page.language %}
                {% for research in researches %}
                  {% for research_member in research.members %}
                      {% if page.name == research_member %}
                          {% assign card=research %}
                          {% include card.html %}
                      {% endif %}
                  {% endfor %}
                {% endfor %}
            </div>
          </div>

        </div>

    </div>
</article>
