---
layout: default
---

{% assign subtitle = page.project %}

{% include header-img.html %}

{% include pre-info.html %}

<div class="container">
        <div class="row">
            <div class="col">
                <div class="info-research">
                    <h2>Informações</h2>
                </div>
                <div class="container research-content">
                        {{ content }}

                    {% for link in page.links %}
                        {{internal}}
                        <a href="{{ link.url | absolute_url }}" class="btn btn-outline-primary">{{ link.name }}</a>
                    {% endfor %}
                </div>

            </div>
        </div>
        {% if page.members %}
        <div class="row">
            <div class="col">
                <div class="info-research">
                    <h2>Membros</h2>
                </div>
            </div>
        </div>
        <div class="row">
            {% assign members = site.members | where:"language", page.language %}
            {% for project_member in page.members %}
                {% for lapis_member in members %}
                    {% if project_member.name == lapis_member.name %}
                        {% assign member=lapis_member %}
                        {% include member.html %}
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </div>
        <hr>
        {% endif %}
</div>

