---
layout: default
---

{% assign subtitle = page.project %}

{% include header-img.html %}

{% include pre-info.html %}

<div class="row">
    <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">

        <div class="row">
            <div class="col">
                <div class="info-research">
                    <h2>Pesquisa</h2>
                </div>

                {{ content }}

                <hr>
            </div>
        </div>
        {% if page.members %}
        <div class="row">
            <div class="col">
                <h2 class="info-research">Membros</h2>
            </div>
        </div>
        <div class="row">
            {% assign members = site.members | where:"language", page.language %}
            {% for project_member in page.members %}
                {% for lapis_member in members %}
                    {% if project_member.name == lapis_member.name %}
                        {% assign member=lapis_member %}
                        {% include member.html %}
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </div>
        <hr>
        {% endif %}

    </div>
</div>

